In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
data = pd.read_csv('credit_card_train.csv')

In [5]:
data.head(10)

,ID,BILL_SEPT,BILL_AUG,BILL_JULY,BILL_JUNE,BILL_MAY,BILL_APRIL,PAY_SEPT,PAY_AUG,PAY_JULY,PAY_JUNE,PAY_MAY,PAY_APRIL,AGE,SEX,EDUCATION,MARRIAGE,DEFAULT
0,1,3913,3102,689,0,0,0,0,689,0,0,0,0,24,Female,University,Married,Yes
1,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,26,Female,University,Single,Yes
2,3,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,34,Female,University,Single,NO
3,4,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,37,Female,University,Married,NO
4,5,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,57,Male,University,Married,NO
5,6,64400,57069,57608,19394,19619,20024,2500,1815,657,1000,1000,800,37,Male,Graduate School,Single,NO
6,7,367965,412023,445007,542653,483003,473944,55000,40000,38000,20239,13750,13770,29,Male,Graduate School,Single,NO
7,8,11876,380,601,221,-159,567,380,601,0,581,1687,1542,23,Female,University,Single,NO
8,9,11285,14096,12108,12211,11793,3719,3329,0,432,1000,1000,1000,28,Female,High School,Married,NO
9,10,0,0,0,0,13007,13912,0,0,0,13007,1122,0,35,Male,High School,Single,NO

In [4]:
feature = pd.get_dummies(data.iloc[:, 1:-1]).values
target = data['DEFAULT'].values

x_train, x_test, y_train, y_test = train_test_split(feature, target, 
              test_size =0.3)
model = RandomForestClassifier()
results = model.fit(x_train, y_train)
print(model.score(x_test, y_test))

0.7707936507936508